<h1 style="color:#f8f8ff">Analytics</h1>
<div *ngIf="tracks">
  <div *ngFor="let track of tracks; let i = index">
    <div class="row">
      <div class="col-md-12">
        <div class="search-res well">
          <h3>{{track.artistName}} - {{track.name}}</h3>
            duration_ms: {{audioFeatures.duration_ms}}
            key: {{audioFeatures.key}}
            mode: {{audioFeatures.mode}}
            time_signature: {{audioFeatures.time_signature}}
            acousticness: {{audioFeatures.acousticness}}
            danceability: {{audioFeatures.danceability}}
            energy: {{audioFeatures.energy}}
            instrumentalness: {{audioFeatures.instrumentalness}}
            liveness: {{audioFeatures.liveness}}
            loudness: {{audioFeatures.loudness}}
            speechiness: {{audioFeatures.speechiness}}
            valence: {{audioFeatures.valence}}
            tempo: {{audioFeatures.tempo}}
            <div id="deleteTrackButton">
            <button type="submit" (click)="removeTrack(track, i)" class="btn btn-danger btn-sm">Delete</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
