<h1 style="color:#f8f8ff">Analytics</h1>
<div *ngIf="tracks">
  <div *ngFor="let track of tracks; let i = index">
    <div class="row">
      <div class="col-md-12">
        <div class="search-res well">
          <h3>{{track.artist.name}} - {{track.name}}</h3>
          <h4>Genre: {{track.genre}}</h4>
            duration_ms: {{track.audioFeatures.duration_ms}}
            key: {{track.audioFeatures.key}}
            mode: {{track.audioFeatures.mode}}
            time_signature: {{track.audioFeatures.time_signature}}
            acousticness: {{track.audioFeatures.acousticness}}
            danceability: {{track.audioFeatures.danceability}}
            energy: {{track.audioFeatures.energy}}
            instrumentalness: {{track.audioFeatures.instrumentalness}}
            liveness: {{track.audioFeatures.liveness}}
            loudness: {{track.audioFeatures.loudness}}
            speechiness: {{track.audioFeatures.speechiness}}
            valence: {{track.audioFeatures.valence}}
            tempo: {{track.audioFeatures.tempo}}
            <div id="deleteTrackButton">
            <button type="submit" (click)="removeTrack(track, i)" class="btn btn-danger btn-sm">Delete</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
